/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #dcdafa;

  /* we want header to be sticky bit later */
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}

.logo-all {
  display: flex;
}

.logo {
  height: 6.4rem;
}

/* NAVIGATION */

.main-nav {
  display: flex;
  gap: 1.2rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #3731a0;
}

.btn--kyc-audit,
.btn--kyc-audit:link,
.btn--kyc-audit:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 0.6rem 1.2rem;
  border-radius: 9px;

  border: none;
  cursor: pointer;
  font-family: inherit;

  transition: all 0.3s;
}

.btn--kyc-audit:link,
.btn--kyc-audit:visited {
  background-color: #4f46e5;
  color: #fff;
}

.btn--kyc-audit:hover,
.btn--kyc-audit:active {
  background-color: #3731a0;
}

.btn-kyc-pad:link,
.btn-kyc-pad:visited {
  padding: 0.6rem 2.04rem;
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* STICKY NAVIGATION */

.sticky .header {
  position: fixed;
  top: 0;
  border: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgb(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

/* SECTION-HERO */

.section-hero {
  background-color: #dcdafa;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
  border-radius: 11px;
  box-shadow: 0 0.4rem 0.5rem 0 rgb(0 0 0 / 30%);
}

/* SECTION-COMMUNITY */
.section-community {
  padding: 6.4rem 0;
}

.community-title,
.contract-title {
  font-size: 3.2rem;
  font-weight: 500;
  margin-bottom: 2.4rem;
}

.community-container {
  display: flex;
  gap: 1.2rem;
}

.community-link:link,
.community-link:visited {
  display: inline-block;
  padding: 1rem;
  border-radius: 9px;
  background-color: #b9b5f5;
}

.community-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #333;
}
.community-text {
  width: 65%;
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 1.2rem;
  line-height: 1.5;
}

.contract-container {
  display: flex;
  gap: 1.2rem;
}

.contract-text {
  color: #333;
  background-color: #b9b5f5;
  border-radius: 9px;
  padding: 1.4rem;
  font-size: 1.8rem;
  font-weight: 500;
}

.contract-attention-text {
  width: 50%;
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 1.2rem;
  line-height: 1.5;
}

/* SECTION-FEATURES */

.section-features {
  padding: 9.6rem 0;
  background-color: #dcdafa;
}

.feature {
  padding: 1.8rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  background-color: #fff;
}

.feature-icon {
  color: #4f46e5;
  height: 3.2rem;
  width: 3.2rem;
  background-color: #dcdafa;
  margin-bottom: 3.2rem;
  padding: 1.6rem;
  border-radius: 50%;
}

.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

/* SECTION-TOKENOMICS */

.section-tokenomics {
  padding: 9.6rem 0;
}

.tokenomics-table {
  width: 100%;
  background-color: #4f46e5;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.2);
  border-radius: 11px;
  font-weight: 600;
  color: #fff;
  border-collapse: collapse;
}

th {
  padding: 2rem 1.5rem;
  text-align: left;
  font-weight: 600;
  font-size: 1.6rem;
  text-transform: uppercase;
}

td {
  padding: 1.6rem;
  text-align: left;
  vertical-align: middle;
  font-weight: 400;
  font-size: 1.4rem;
  border-bottom: solid 2px rgba(255, 255, 255, 0.1);
}

/* SECTION-TEAM */

.section-team {
  padding: 9.6rem 0;
  background-color: #dcdafa;
}

.team {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
  background-color: #fff;
}

.team:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.team-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.team-tags {
  margin-bottom: 1.2rem;
}
.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}

.tag--founder {
  background-color: #51cf66;
}
.tag--marketer {
  background-color: #94d82d;
}
.tag--advisor {
  background-color: #ffd43b;
}

.team-title {
  font-size: 3.2rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.team-info {
  font-size: 1.8rem;
  font: 400;
  color: #555;
  line-height: 1.6;
}

.team-contact-link {
  margin-top: 1.8rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.team-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #4f46e5;
}

.team-member-img {
  width: 100%;
}

/* SECTION-PARTNERSHIPS */

.section-partnerships {
  padding: 9.6rem 0;
}

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}
.heading-partnerships {
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #444;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 6.4rem;
}

.binance {
  height: 3.2rem !important;
  display: flex;
  align-self: center;
}

/* SECTION-ROADMAP */

.section-roadmap {
  padding: 9.6rem 0;
}

.roadmap-after {
  position: relative;
}

.phase-all-info {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid #dcdafa;
  border-radius: 11px;
  box-shadow: 0 0.8rem 1.8rem 0 rgba(0, 0, 0, 0.3);
  padding: 1.8rem;
  align-items: center;
  justify-items: center;
  align-self: center;
  justify-self: center;
}

.phase-all-info:nth-child(1) {
  background-color: #dcdafa;
}
.phase-all-info:nth-child(2) {
  background-color: #dcdafa;
}

.roadmap-after::before {
  content: "";
  position: absolute;
  top: -4rem;
  width: 120rem;
  height: 1rem;
  background-color: #4f46e5;
  border-radius: 9px;
}

.phase-all-info::after {
  content: "";
  position: absolute;
  top: -5.4rem;
  width: 3.2rem;
  height: 3.2rem;
  background-color: #fff;
  border-radius: 100%;
  border: 1px solid #4f46e5;
}

.phase {
  font-size: 3.2rem;
  font-weight: 500;
  border-bottom: 2px solid #4f46e5;
  margin-bottom: 3.2rem;
}

.phase-title {
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 2.4rem;
}

.phase-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.phase-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #4f46e5;
}

.phase-list-item {
  font-size: 1.8rem;
  display: flex;
  gap: 0.8rem;
}

/* SECTION-FAQ */

.section-faq {
  padding: 9.6rem 0;
  background-color: #dcdafa;
}

.faq-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.hr-line {
  width: 80%;
  margin: auto;
}

/* Style the buttons that are used to open and close the faq-page body */
.faq-page {
  font-size: 3.2rem;
  color: #555;
  cursor: pointer;
  padding: 3.2rem 2.4rem;
  width: 80%;
  border: none;
  outline: none;
  transition: all 0.3s;
  margin: auto;
}
.faq-body {
  margin: auto;
  text-align: left;
  width: 50%;
  padding: auto;
}

.faq-text {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6;
  padding: 1.8rem 1.8rem;
  background-color: #dcdafa;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.faq-page:hover {
  background-color: #b9b5f5;
}

/* Style the faq-page panel. Note: hidden by default */
.faq-body {
  padding: 1.8rem;
  background-color: #dcdafa;
  display: none;
  overflow: hidden;
}

.faq-page:after {
  content: "\02795";
  /* Unicode character for "plus" sign (+) */
  font-size: 1.8rem;
  float: right;
  margin-left: 0.5rem;
}

.active:after {
  content: "\2796";
  /* Unicode character for "minus" sign (-) */
}

/* FOOTER */

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}
